<div class="container">
        <h1 class="display-2 fw-bold text-body-emphasis text-center"> About us</h1>
    </div>

<div class="container">
        <h1 class="lead mb-4 text-center">We are a groundbreaking social media designed to make users happy</h1>
    </div>



<div class="container">
    <div class="cover-container d-flex w-50 h-100 p-3 mx-auto ">
        <div class="p-4 p-md-5 mb-4 rounded text-center text-body-emphasis bg-body-secondary ">
            <div class=" px-0">
                <p class="lead my-3">Founded in 2024, "Y" gathers people from all over the world.</p>
            </div>
        </div>
    </div>
</div>
